__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/
ENV/

.env
*.log

.ipynb_checkpoints/

Thumbs.db
.DS_Store

CODE/FRONTEND/static/img/*.png
CODE/BACKEND/catboost_info/
CODE/BACKEND/*_with_selected_features.csv
